<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.frogdevelopment.nihongo.dico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/NihonGoTheme"
        android:usesCleartextTraffic="true">
        <!-- Points to searchable activity so the whole app can invoke search. -->
        <!--        <meta-data-->
        <!--            android:name="android.app.default_searchable"-->
        <!--            android:value="fr.frogdevelopment.nihongo.dico.to_delete.MainActivity" />-->

        <provider
            android:name=".contentprovider.NihonGoDicoContentProvider"
            android:authorities=".NihonGoDicoContentProvider"
            android:exported="false" />

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".to_delete.MainActivity" />
        <!--        <activity-->
        <!--            android:name=".OldMainActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:windowSoftInputMode="adjustResize">-->

        <!--            &lt;!&ndash; Receives the search request. &ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SEARCH" />-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash; Points to searchable meta data. &ndash;&gt;-->
        <!--            <meta-data-->
        <!--                android:name="android.app.searchable"-->
        <!--                android:resource="@xml/searchable" />-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name=".DetailsActivity"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:parentActivityName=".OldMainActivity">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.PARENT_ACTIVITY"-->
        <!--                android:value="fr.frogdevelopment.nihongo.dico.to_delete.OldMainActivity" />-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name=".downloads.DownloadsActivity"-->
        <!--            android:label="@string/downloads_title"-->
        <!--            android:launchMode="singleInstance"-->
        <!--            android:parentActivityName=".OldMainActivity">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.PARENT_ACTIVITY"-->
        <!--                android:value="fr.frogdevelopment.nihongo.dico.to_delete.OldMainActivity" />-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name=".FavoritesActivity"-->
        <!--            android:label="@string/favorites_title"-->
        <!--            android:launchMode="singleInstance"-->
        <!--            android:parentActivityName=".OldMainActivity">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.PARENT_ACTIVITY"-->
        <!--                android:value="fr.frogdevelopment.nihongo.dico.to_delete.OldMainActivity" />-->
        <!--        </activity>-->
    </application>

</manifest>