<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.frogdevelopment.nihongo.dico"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="480"
            android:screenSize="small"/>
        <screen
            android:screenDensity="640"
            android:screenSize="small"/>
        <!-- all normal size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="480"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="640"
            android:screenSize="normal"/>
        <!-- all large size screens -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="480"
            android:screenSize="large"/>
        <screen
            android:screenDensity="640"
            android:screenSize="large"/>
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value="fr.frogdevelopment.nihongo.dico.MainActivity"/>

        <provider
            android:name=".contentprovider.NihonGoDicoContentProvider"
            android:authorities=".NihonGoDicoContentProvider"
            android:exported="false"/>

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <!-- Points to searchable meta data. -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.frogdevelopment.nihongo.dico.MainActivity"/>
        </activity>
    </application>

</manifest>